.scrollbar-primary::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

.scrollbar-primary::-webkit-scrollbar-track {
  background: var(--color-slate-100);
  border-radius: 0.5rem;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 0.5rem;
}

.scrollbar-primary::-webkit-scrollbar-thumb:hover,
.scrollbar-primary::-webkit-scrollbar-thumb:active {
  background: var(--color-decore);
}

@-moz-document url-prefix() {
  .scrollbar-primary {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) var(--color-slate-100);
  }
}