@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-background: #F8F2EC;
  --color-foreground: #0F1E33;
  --color-decore: #D3A57F;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}