@import "tailwindcss";
@import './styles/scrollbar.css';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --container-fluid: 105rem;


  --color-background: #F8F2EC;
  --color-foreground: #0F1E33;
  --color-decore: #D3A57F;
  --color-pale: #79756F;
  --color-pure: #F2ECE9;
  --color-light: #F4EFEB;
  --color-dark: #2E2C29;
  --color-accent: #E5C398;
}

@layer base {
  button {
    @apply cursor-pointer disabled:cursor-default;
  }

}

@layer components {
  .main-container {
    @apply max-w-fluid w-full mx-auto px-6;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .bg-center-default {
    @apply bg-center bg-no-repeat bg-cover;
  }
}